<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2026 BluePrint3D Ltd. All rights reserved.
 * 
 * Commercial Software License (EULA)
 * This software is licensed, not sold. Unauthorized reproduction, distribution,
 * reverse engineering, or sublicensing of this source code, modified or
 * unmodified, without an active license agreement from BluePrint3D Ltd
 * is strictly prohibited.
 *
 * @author    BluePrint3D Ltd <support@blueprint3d.dev>
 * @copyright 2026 BluePrint3D Ltd (Company No. 13473806)
 * @license   Commercial Proprietary EULA (See LICENSE.txt)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="blueprint3d" translate="label" sortOrder="999">
            <label>BluePrint3D</label>
        </tab>
        <section id="etsy_integration" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Etsy Integration</label>
            <tab>blueprint3d</tab>
            <resource>BluePrint3D_EtsyIntegration::config</resource>

            <group id="api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Etsy API Credentials</label>
                <field id="keystring" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>App Key (Keystring)</label>
                </field>
                <field id="shared_secret" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shared Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <!-- OAuth Button -->
                <field id="auth_button" translate="label" type="button" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>BluePrint3D\EtsyIntegration\Block\Adminhtml\System\Config\Form\Button</frontend_model>
                </field>
            </group>

            <group id="global_defaults" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Global Listing Defaults</label>
                <field id="who_made" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Who made it?</label>
                    <source_model>BluePrint3D\EtsyIntegration\Model\Config\Source\WhoMade</source_model>
                </field>
                <field id="is_supply" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>What is it?</label>
                    <source_model>BluePrint3D\EtsyIntegration\Model\Config\Source\IsSupply</source_model>
                </field>
                <field id="when_made" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>When was it made?</label>
                    <source_model>BluePrint3D\EtsyIntegration\Model\Config\Source\WhenMade</source_model>
                </field>
            </group>

            <group id="data_sync" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Data Synchronization</label>
                <field id="sync_taxonomy" translate="label" type="button" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Category Taxonomy</label>
                    <frontend_model>BluePrint3D\EtsyIntegration\Block\Adminhtml\System\Config\SyncButton</frontend_model>
                    <comment>Downloads and caches the latest category tree from Etsy.</comment>
                </field>
            </group>

            <group id="sync_settings" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Sync Settings</label>
                <field id="mode" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sync Mode</label>
                    <source_model>BluePrint3D\EtsyIntegration\Model\Config\Source\SyncMode</source_model>
                    <comment>Real-time will sync instantly upon saving a product. Cron will queue products and sync them in the background (better for performance).</comment>
                </field>
                <field id="unsupported_options" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Unsupported Options Handling</label>
                    <source_model>BluePrint3D\EtsyIntegration\Model\Config\Source\UnsupportedOptions</source_model>
                    <comment><![CDATA[How should the sync engine handle custom options that Etsy does not support (e.g. Dates, Multi-selects, or more than 2 Dropdowns)?<br/><b>Strict:</b> Abort the sync completely and log an error.<br/><b>Lenient:</b> Strip unsupported options, sync what it can, and log a warning.]]></comment>
                </field>
                <field id="upgrade_notice" translate="label" type="button" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Freemium Version</label>
                    <frontend_model>BluePrint3D\EtsyIntegration\Block\Adminhtml\System\Config\UpgradeButton</frontend_model>
                    <comment><![CDATA[Currently running the Freemium Tier (20 Product Limit). Upgrade to Pro to unlock unlimited catalog syncing, 2-way stock sync, and automated Etsy order imports.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>